<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item active">
    <a class="nav-link collapsed" [routerLink]="['/employee/list']" data-toggle="collapse" data-target="#employees"
      aria-expanded="true" aria-controls="employees">
      <i class="fas fa-fw fa-cog"></i>
      <span>Manage Employees</span>
    </a>
    <div id="employees" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/employee/list']">List</a>
        <a class="collapse-item"[routerLink]="['/employee/add']">Add</a>
      </div>
    </div>
  </li>
</ul>
<!-- End of Sidebar -->